---
import type { CollectionEntry } from "astro:content"
import { withBase, readingTime } from "@utils/helpers"

import Link from "./Link.astro"
import Badge from "./Badge.astro"
import Card from "./Card.astro"

type Props = {
    post: CollectionEntry<"posts">
}

const { post } = Astro.props
const { title, description, date, tags } = post.data
---

<article>
    <Card>
        <h3 class="mb-1 text-lg font-semibold">{ title }</h3>
        <div class="flex flex-row items-center gap-2">
            <time datetime={ date.toISOString() } class="text-sm">
                {
                    date.toLocaleDateString(undefined, {
                        dateStyle: "medium",
                        timeZone: "UTC",
                    })
                }
            </time>

            <Badge text={ `${ readingTime(post.body) } min read` } />
        </div>
        <p class="my-2 text-md text-muted-foreground">{ description }</p>

        <Link url={ withBase(`posts/${ post.id }`) } text="Read Post" icon={{ name: "arrow-big-right-lines", side: "right"   }}  />
    </Card>
</article>
