---
import { getCollection } from "astro:content"

import Heading from "./Heading.astro"
import ProjectCard from "./ProjectCard.astro"

const projects = await getCollection("projects")
---

<section id="projects">
    <Heading size="large">🔧 Projects</Heading>
    <div class="mx-auto">
        <div class="grid gap-8 md:grid-cols-2">
            {
                projects.sort((a, b) => a.data.title.localeCompare(b.data.title)).map((project) => {
                    return (
                        <ProjectCard project={ project } />
                    )
                })
            }
        </div>
    </div>
</section>
