---
interface Props {
    text: string
}

const { text } = Astro.props as Props
---

<span class="bg-neutral-200 px-2 py-1 font-light text-sm rounded-md hover:bg-neutral-200 hover:cursor-default">
    { text }
</span>
