@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
    --color-primary: #0000ff;
    --font-primary: "Linotype Feltpen Regular", sans-serif;
    --color-scheme: light;
}

@font-face {
    font-family: "Linotype Feltpen Regular";
    src: url("../fonts/LinotypeFeltpenRegular.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Color Emoji";
    src: url("../fonts/NotoColorEmoji.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif, "Noto Color Emoji";
}

@media (prefers-color-scheme: dark) {
    *, ::before, ::after {
        color-scheme: light ! important;
    }
}

.filter-btn {
    @apply px-4 py-2 border border-primary rounded-lg text-sm bg-white hover:bg-primary hover:text-white transition-colors duration-200;
}

.active {
    @apply bg-primary text-white;
}
