@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
    --color-primary: #0000ff;
    --font-primary: "Linotype Feltpen Regular", sans-serif;
    --color-scheme: light;
}

@font-face {
    font-family: "Linotype Feltpen Regular";
    src: url("../fonts/LinotypeFeltpenRegular.otf") format("opentype");
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    *, ::before, ::after {
        color-scheme: light ! important;
    }
}
