---
import Heading from "@/components/Heading.astro"
import Subheading from "@/components/Subheading.astro"
import Main from "@layouts/Main.astro"
---

<Main title="About Me" description="Learn more about me, my background, and my journey in software development.">
    <h1>About me coming soon</h1>
</Main>

