---
import Main from "../layouts/Main.astro"
import Projects from "../components/Projects.astro"
import Resources from "../components/Resources.astro"
import About from "../components/About.astro"
import Experience from "../components/Experience.astro"
import Posts from "../components/Posts.astro"
---

<Main title="Home" description="View my website that showcases my projects, resources, and writeups.">
    <Projects />
    <Resources />
    <About />
    <Posts />
</Main>

