---
import Link from "@components/Link.astro"
import Main from "@layouts/Main.astro"
import Heading from "@components/Heading.astro"
import Subheading from "@components/Subheading.astro"
import ContentGrid from "@/components/ContentGrid.astro"

import { getCollection, type CollectionEntry } from "astro:content"

const featuredPosts = (await getCollection("posts", ({ data }) => {
    return !data.draft
})).sort((a, b) => b.data.date.getTime() - a.data.date.getTime()).slice(0, 2)
const featuredProjects = (await getCollection("projects", ({ data }) => {
    return data.featured
})).sort((a, b) => a.data.title.localeCompare(b.data.title))
---

<Main title="Home" description="View my website that showcases my projects, resources, and writeups.">
    <section id="welcome" class="flex flex-col gap-y-2 mb-12">
        <Heading>👋 Hello!</Heading>
        <p>
            I'm Liam D'Souza, a fourth-year software engineering student at the Queensland University of Technology.
        </p>

        <p>
            I have a strong interest in emerging technologies including AI and cyber security, and I'm most passionate about using technology to solve real-world problems. And I enjoy working on projects that combine innovation, collaboration and creative thinking to create meaningful impact.
        </p>

        <p>
            This site brings together a selection of projects, resources, and writeups that reflect how I build, learn, and share knowledge. Feel free to explore and reach out if anything catches your interest!
        </p>
    </section>

    <section id="featured-projects" class="mb-12">
        <Heading>🛠️ Featured Projects</Heading>
        <Subheading>A selection of projects where I’ve focused on clarity, maintainability, and good developer experience.</Subheading>
        <ContentGrid
            collection="projects"
            filter={(project: CollectionEntry<"projects">) => project.data.featured}
            sort={(a: CollectionEntry<"posts">, b: CollectionEntry<"posts">) =>
                a.data.title.localeCompare(b.data.title)
            }
        />
        <Link url="/projects" text="View all projects" icon={{ name: "arrow-big-right-lines", side: "right"   }} animated />
    </section>

    <!-- <section id="popular-resources" class="mb-12">
        <Heading>📂 Popular Resources</Heading>
        <Subheading>A selection of frequently used resources I use in the talks and workshops I deliver.</Subheading>
        <div class="grid md:grid-cols-2 gap-4 my-4">

        </div>
        <Link url="#" text="Explore resources" icon={{ name: "arrow-big-right-lines", side: "right"   }} animated />
    </section> -->

    <section id="latest-writeups" class="mb-12">
        <Heading>✏️ Latest Writeups</Heading>
        <Subheading>Writing that ranges from technical deep dives to reflective pieces on events and experiences that shaped how I work.</Subheading>
        <ContentGrid
            collection="posts"
            filter={(post: CollectionEntry<"posts">) => !post.data.draft}
            sort={(a: CollectionEntry<"posts">, b: CollectionEntry<"posts">) =>
                b.data.date.getTime() - a.data.date.getTime()
            }
            slice={[0, 2]}
        />
        <Link url="/posts" text="Read all writeups" icon={{ name: "arrow-big-right-lines", side: "right"   }} animated />
    </section>
</Main>

