---
import Heading from "@/components/Heading.astro"
import Subheading from "@/components/Subheading.astro"
import Main from "@layouts/Main.astro"
---

<Main title="Resources" description="View my resources, including open-source projects, tutorials, and useful links I've compiled.">
    <h1>Resources coming soon...</h1>
</Main>

