---
import "@styles/global.css"

interface Props {
    title: string
    description: string
}
---

<link rel="icon" href="/favicon.ico" sizes="any" />
<title>{ Astro.props.title } « Liam D'Souza</title>

<meta charset="utf-8" />

<meta name="viewport" content="width=device-width" />
<meta property="og:image" content={ `${Astro.site}/liam-dsouza-og.png` } />

<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta name="twitter:card" content="summary_large_image" />

<meta name="generator" content={ Astro.generator } />
<meta name="description" content={ Astro.props.description } />
