---
interface Props {
    children: any;
}
---
<div class="rounded-lg border border-neutral-300 border-border p-6 cursor-pointer hover:border-primary hover:-translate-y-1 hover:scale-[1.01] transition-all duration-200 ease-in-out">
    <slot />
</div>
