---
import { getCollection } from "astro:content"

import Tag from "./Tag.astro"
import Badge from "./Badge.astro"

const experience = await getCollection("experience")

const allTags = await getCollection("tags")

function formatDuration(start: Date, end: Date) {
    let months =
        (end.getFullYear() - start.getFullYear()) * 12 +
        (end.getMonth() - start.getMonth()) + 1

    const years = Math.floor(months / 12)
    months = months % 12

    const parts: string[] = []

    if (years > 0) parts.push(`${years} yr${years > 1 ? "s" : ""}`)
    if (months > 0) parts.push(`${months} mo${months > 1 ? "s" : ""}`)

    return parts.join(" ")
}
---

<section id="experience">
    <h3 class="my-4 text-2xl font-medium">💼 Experience</h2>
    <div class="mx-auto">
        <div class="space-y-6">
            {
                experience.map((item) => {
                    const start = new Date(item.data.startDate)
                    const end = item.data.endDate ? new Date(item.data.endDate) : new Date()
                    const tagData =  item.data.skills ? allTags.filter((tag) => item.data.skills.includes(tag.id)) : []

                    return (
                        <div class="rounded-lg border border-neutral-300 border-border p-4 transition-colors hover:border-primary cursor-pointer">
                            <div class="flex flex-col">
                                <div>
                                    <h3 class="text-lg font-semibold">{ item.data.role }</h3>
                                    <span class="text-sm">{ item.data.company }</span>
                                    <div class="flex items-center gap-2 my-2 text-xs text-muted-foreground">
                                        <span>
                                            {
                                                start.toLocaleDateString(undefined, {
                                                    month: "short",
                                                    year: "numeric",
                                                    timeZone: "UTC",
                                                })
                                            }
                                            -
                                            {
                                                item.data.endDate ? end.toLocaleDateString(undefined, {
                                                    month: "short",
                                                    year: "numeric",
                                                    timeZone: "UTC",
                                                })
                                                : "Present"
                                            }
                                        </span>

                                        <Badge text={ formatDuration(start, end) } />
                                    </div>
                                </div>
                                <p class="mb-2 text-sm text-muted-foreground">
                                    { item.data.description }
                                </p>
                                <div class="flex flex-wrap gap-2">
                                    { tagData.sort().map((skill) => (
                                        <Tag text={ `${skill.data.emoji} ${skill.data.name}` } />
                                    ))}
                                </div>
                            </div>
                        </div>
                    )
                })
            }
        </div>
    </div>
</section>

