---

---

<div class="border-t-4 border-primary border-dotted flex flex-col items-center text-center p-4 my-8 w-full">
    <p><span class="text-primary">&copy;</span> {new Date().getFullYear()} Liam D'Souza. All rights reserved.</p>
</div>
