---
import { SOCIAL_LINKS } from "@/consts"
import { Icon } from "astro-icon/components"
---

<div class="border-t-4 border-primary border-dashed flex flex-col items-center text-center p-4 w-full">
    <p>
        <span class="text-primary">&copy;</span>
        { new Date().getFullYear() }
        Liam D'Souza | Brisbane, Australia
    </p>

    <div class="flex flex-row gap-8 mt-4">
        {
            SOCIAL_LINKS.sort((a, b) => a.name.localeCompare(b.name)).map((link) => (
                <a href={ link.url } target="_blank" rel="noopener noreferrer" class="text-neutral-600 hover:underline flex items-center gap-2 text-lg">
                    <Icon name={ `tabler:${ link.icon }` } class="text-primary" />
                    <span>{ link.name }</span>
                </a>
            ))
        }
</div>
