---

---

<div class="border-t-4 border-primary border-dashed flex flex-col items-center text-center p-4 my-8 w-full">
    <p>
        <span class="text-primary">&copy;</span>
        {new Date().getFullYear()}
        Liam D'Souza | Brisbane, Australia
    </p>
</div>
