---
import Link from "./Link.astro"

const navLinks = [
    { url: "/#projects", text: "Projects", icon: "tool" },
    // { url: "/chats", text: "Chats", icon: "microphone" },
    { url: "/#resources", text: "Resources", icon: "folder" },
    { url: "/#about", text: "About Me", icon: "info-circle" },
    { url: "/#posts", text: "Writeups", icon: "pencil" },
]
---
<div class="bg-white border-b-4 border-primary border-dashed flex flex-col items-center text-center p-4 md:p-8 mb-8 md:mt-0 mt-4 w-full z-50">
    <h1 class="text-primary font-primary text-8xl">LiAM D'SOUZA</h1>

    <p class="font-medium">
        Educate and inspire with the power of technology
    </p>

    <div class="grid md:grid-rows-1 md:grid-cols-4 grid-cols-2 gap-y-4 gap-x-8 m-4">
        {
            navLinks.map((link) => (
                <Link url={ link.url } text={ link.text } icon={{ name: `${ link.icon }`, side: "left" }} />
            ))
        }
    </div>
</div>
