---
import { Icon } from "astro-icon/components"

interface Props {
    url: string
    text: string
    icon?: {
        name: string,
        side: "left" | "right"
    },
    class?: string
    [key: string]: any
    animated?: boolean
    inline?: boolean
    underlined?: boolean
}

const { url, text, icon, animated, inline, underlined, class: extra, ...rest } = Astro.props

const spacing = inline ? "gap-0" : "gap-2"
const animate = animated ? inline ? "hover:gap-1" : "hover:gap-3" : ""
const underline = underlined ? "hover:underline" : ""

const classes = `inline-flex max-w-max items-center ${ spacing } ${ underline } text-primary not-prose ${ animate } transition-all ${extra ?? ""}`
---

<a
    href={ url }
    rel="noopener noreferrer"
    class={ classes }
    {...rest}
>
    { icon && icon.side === 'left' && (
        <Icon name={ `tabler:${icon.name}` } />
    ) }
    { text }
    { icon && icon.side === 'right' && (
        <Icon name={ `tabler:${icon.name}` } />
    ) }
</a>
