---
import type { CollectionEntry } from "astro:content"
import { readingTime, withBase, sortTags, formatTags } from "@utils/helpers"

import Card from "./Card.astro"
import CardDescription from "./CardDescription.astro"
import CardHeading from "./CardHeading.astro"
import Date from "./Date.astro"
import Link from "./Link.astro"
import Tag from "./Tag.astro"

interface Props {
    post: CollectionEntry<"posts">
}

const { post } = Astro.props as Props
const { title, description, type, kind, tags, date } = post.data
---

<Card>
    <span class="my-2"><Tag>{ type }</Tag></span>
    <CardHeading>{ title }</CardHeading>
    <div class="flex flex-row items-center gap-2">
        <Date date={ date } format="medium" />
        <span>•</span>
        <span class="text-sm">{ readingTime(post.body) } min read</span>
    </div>
    <span class="mb-2"><CardDescription>{ description }</CardDescription></span>
    <Link url={ withBase(`posts/${ post.id }`) } text="Read post" icon={{ name: "arrow-big-right-lines", side: "right"   }} animated />
    <div class="mt-8 flex flex-wrap gap-2">
        {
            formatTags(kind).sort().map((tag) => (
                <Tag>{ `${ tag }` }</Tag>
            ))
        }
    </div>
</Card>
