---
import type { CollectionEntry } from "astro:content"
import { formatTags, withBase } from "@utils/helpers"

import Card from "./Card.astro"
import CardDescription from "./CardDescription.astro"
import CardHeading from "./CardHeading.astro"
import Duration from "./Duration.astro"
import Image from "./Image.astro"
import Link from "./Link.astro"
import Tag from "./Tag.astro"

interface Props {
    project: CollectionEntry<"projects">
}

const { project } = Astro.props as Props
const { title, description, status, link, cover, coverAlt, startDate, endDate, tags, category } = project.data
const start = new Date(startDate)
const end = endDate ? new Date(endDate) : null
---

<Card>
    <div>
        <div class="flex flex-row justify-between items-center pb-2">
            <div class="flex flex-wrap gap-2 mb-2">
                {
                    <Tag>{ `${ category.toUpperCase() }` }</Tag>
                }
            </div>

            <div class="flex items-center gap-2 my-2 font-semibold">
                <Duration start={ start } end={ end } current={ endDate ? false : true} />
            </div>
        </div>
        <Image src={ cover } alt={ coverAlt } />
    </div>

    <div class="flex flex-col mt-2">
        <div class="mb-2">
            <CardHeading>{ title }</CardHeading>
            <span class="text-sm italic text-primary font-medium">[{ status }]</span>
            <CardDescription>{ description }</CardDescription>
        </div>

        <Link url={ withBase(`projects/${ project.id }`) } text="Explore project" icon={{ name: "arrow-big-right-lines", side: "right"   }} animated />

        <div class="mt-8 flex flex-wrap gap-2">
            {
                formatTags(tags).sort().map((tag) => (
                    <Tag>{ `${ tag }` }</Tag>
                ))
            }
        </div>
    </div>
</Card>
