---
import "@styles/global.css"

import type { CollectionEntry } from "astro:content"
import ProjectCard from "./ProjectCard.astro"
import TagButtons from "./TagButtons.astro"
import Filter from "./Filter.astro"
import { getTagId } from "@utils/helpers"

interface Props {
    projects: CollectionEntry<"projects">[]
}

const { projects } = Astro.props as Props
const categories = Array.from(
    new Set(
        projects
        .map((project) => project.data.category)
        .filter(Boolean)
    )
)
---
<section>
    <TagButtons tags={categories} />

    <div class="grid md:grid-cols-2 gap-6">
        {
            projects.map((project) => {
                const { category } = project.data
                return (
                    <article class="card" data-tags={getTagId(category).toLowerCase()} >
                        <ProjectCard project={ project } />
                    </article>
                )
            })
        }
    </div>
</section>

<Filter />


