---
import { getCollection } from "astro:content"

import Tag from "./Tag.astro"
import Link from "./Link.astro"

const projects = await getCollection("projects")

const allTags = await getCollection("tags")
---

<section id="projects">
    <h2 class="mb-8 text-3xl font-medium">🔧 Projects</h2>
    <div class="mx-auto">
        <div class="grid gap-8 md:grid-cols-2">
            {
                projects.sort((a, b) => a.data.title.localeCompare(b.data.title)).map((project) => {
                    const tagData =  project.data.categories ? allTags.filter((tag) => project.data.categories!.includes(tag.id)) : []

                    return (
                        <div class="group rounded-lg border border-neutral-300 p-6 transition-colors hover:border-primary">
                            <div class="mb-4 flex flex-col gap-y-2">
                                <div class="flex justify-between items-center border-b border-neutral-200 p-2">
                                    <div class="flex flex-wrap gap-2">
                                        { tagData?.sort().map((tag) => (
                                            <Tag text={ `${tag.data.emoji} ${tag.data.name}` } />
                                        ))}
                                    </div>

                                    <span class="text-sm font-semibold">{ project.data.year }</span>
                                </div>
                                <h3 class="text-lg font-semibold">{ project.data.title }</h3>
                                <span class="text-sm italic text-primary font-medium">[{ project.data.status }]</span>
                                <p class="text-sm text-muted-foreground">{ project.data.description }</p>
                            </div>

                            <div class="mb-4 flex flex-wrap gap-2">
                                { project.data.technologies?.sort().map((tag) => (
                                    <Tag text={ tag } />
                                ))}
                            </div>

                            <Link url={ `/projects/${ project.id }` } text="View Project" icon={{ name: "arrow-big-right-lines", side: "right"   }} target="_blank" />
                        </div>
                    )
                })
            }
        </div>
    </div>
</section>
