---
interface Props {
    title?: string
}

const { title = "" } = Astro.props as Props
---

<blockquote class="not-prose py-2 my-4 px-6 border-l-4 border-primary text-neutral-500 bg-neutral-100 italic">
    <p class="text-md font-medium">
        <h3 class="font-semibold text-lg text-black">{ title }:</h3>
        <slot />
    </p>
</blockquote>
