---
interface Props {
    text: string
}

const { text } = Astro.props
---

<span class="bg-neutral-200 px-2 py-1 font-light text-sm rounded-md m-1 hover:bg-neutral-300 hover:cursor-default">
    { text }
</span>
