---
import { formatTags, getTagId, slugify } from '@utils/helpers'

interface Props {
    tags: string[]
}

const { tags } = Astro.props as Props

console.log(tags)
---

<div class="flex flex-wrap gap-2 my-4 mb-8">
    <button class="filter-btn active" data-tag="all" >
        All
    </button>

    {
        formatTags(tags).map((tag) => (
            <button class="filter-btn" data-tag={ slugify(getTagId(tag)) } >
                { `${ tag }` }
            </button>
        ))
    }
</div>
