---
import { experienceJson } from "@content/experience"
import { sortTags } from "@utils/helpers"
import Duration from "./Duration.astro"
import Subheading from "./Subheading.astro"
import Tag from "./Tag.astro"
import { getCollection } from "astro:content"

const experience = (await getCollection("experience")).sort((a, b) =>
    b.data.startDate.getTime() - a.data.startDate.getTime()
)
---

{
    experience.map((experience) => {
        const { startDate, endDate, role, company, description, skills } = experience.data
        return (
            <section class="my-2">
                <div class="flex flex-row items-center justify-between">
                    <h3 class="text-xl font-medium">{ role }</h3>
                    <span class="font-semibold"><Duration start={ startDate } end={ endDate } /></span>
                </div>
                <Subheading>{ company }</Subheading>
                {/* <p>{ description }</p> */}

                <div class="mt-4 flex flex-wrap gap-2">
                    {
                        sortTags(skills).map((skill) => (
                            <Tag>{ skill }</Tag>
                        ))
                    }
                </div>
            </section>
        )
    })
}
