---
import BaseHead from "@components/BaseHead.astro"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"

interface Props {
    title?: string
    description?: string
}

const { title, description } = Astro.props
---

<html lang="en">
	<head>
		<BaseHead title={ title || "Liam D'Souza" } description={ description || "View my website that showcases my projects, resources, and writeups." } />
	</head>
	<body class="p-8 min-h-screen flex flex-col scroll-smooth max-w-7xl mx-auto">
        <Header />
        <main class="grow">
            <slot />
        </main>
        <Footer />
	</body>
</html>
