---
import Main from "@layouts/Main.astro"
import Link from "@components/Link.astro"
import Tag from "@components/Tag.astro"
import Heading from "@components/Heading.astro"
import Subheading from "@components/Subheading.astro"
import type { CollectionEntry } from "astro:content"

interface Props {
    resource: CollectionEntry<"resources">
}

const { resource } = Astro.props as Props
const { title, description, tags, link } = resource.data
---

<Main title={ title } description={ description }>
    <article>
        <div class="mx-auto">
            <div class="flex flex-col gap-y-2 my-8 max-w-full mx-auto px-2">
                <Link url="/resources" text="Back" icon={{ name: "arrow-big-left-lines", side: "left" }} animated />
                <Heading size="large">{ title }</Heading>
                <Subheading>{ description }</Subheading>

                <div class="flex flex-wrap gap-2">
                    {
                        tags.sort().map((tag) => (
                            <Tag>{ `${ tag.toUpperCase() }` }</Tag>
                        ))
                    }
                </div>
            </div>

            <div class="prose max-w-full mx-auto px-2">
                <slot />
            </div>

            <div class="flex flex-col">
                <Link url={ link } text="Visit GitHub repo" icon={{ name: "arrow-big-right-lines", side: "right" }} class="my-8 mx-auto" />
            </div>
        </div>
    </article>
</Main>
