---
import Main from "@layouts/Main.astro"
import Link from "@components/Link.astro"
import Tag from "@components/Tag.astro"
import Heading from "@components/Heading.astro"
import Subheading from "@components/Subheading.astro"
import type { CollectionEntry } from "astro:content"
import { sortTags } from "@/utils/helpers"

interface Props {
    resource: CollectionEntry<"resources">
}

const { resource } = Astro.props as Props
const { title, description, type, tags, difficulty } = resource.data
---

<Main title={ title } description={ description }>
    <article>
        <div class="mx-auto">
            <div class="flex flex-col gap-y-2 my-8 max-w-full mx-auto px-2">
                <Link url="/resources" text="Back" icon={{ name: "arrow-big-left-lines", side: "left" }} animated />
                <div class="mt-4 flex flex-wrap gap-2">
                    <Tag>{ type }</Tag>
                </div>
                <Heading size="large">{ title }</Heading>
                <Subheading>{ description }</Subheading>

                <div class="flex flex-wrap gap-2">
                    {
                        sortTags(tags).map((tag) => (
                            <Tag>{ `${ tag.toUpperCase() }` }</Tag>
                        ))
                    }
                </div>
            </div>

            <div class="prose max-w-full mx-auto px-2">
                <slot />
            </div>
        </div>
    </article>
</Main>
